name: Validate Infrastructure - PR

on:
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/**'

env:
  terraform_version: 1.5.7
  infra_path: terraform
  environment: dev  # Change this or make it dynamic

jobs:
  terraform-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform_version }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

      - name: Terraform Format Check
        run: |
          cd ${{ env.infra_path }}
          terraform fmt -check -recursive

      - name: Terraform Init
        run: |
          cd ${{ env.infra_path }}
          terraform init -backend-config=vars/${{ env.environment }}.tfbackend

      - name: Terraform Validate
        run: |
          cd ${{ env.infra_path }}
          terraform validate

      - name: Terraform Plan
        run: |
          cd ${{ env.infra_path }}
          terraform plan -var-file=vars/${{ env.environment }}.tfvars -no-color