name: Deploy Infrastructure - Dev

on:
  push:
    branches:
      - main
      
    paths:
      - 'terraform/**'
  workflow_dispatch:

env:
  terraform_version: 1.5.7
  infra_path: terraform
  environment: dev

jobs:
  terraform-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform_version }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-2

      - name: Terraform Init
        run: |
          cd ${{ env.infra_path }}
          terraform init -backend-config=vars/${{ env.environment }}.tfbackend

      - name: Terraform Plan
        id: plan
        run: |
          cd ${{ env.infra_path }}
          terraform plan -var-file=vars/${{ env.environment }}.tfvars -out=tfplan
        continue-on-error: false

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'  # Only apply on main branch
        run: |
          cd ${{ env.infra_path }}
          terraform apply tfplan